// ignore CSS here; only for HTML example

// provide padding and margin to each child example
.child {
    padding: 1rem;
    margin: 1rem;
}

// gives each child a different color to distinguish
.child-1 {
    background-color: cyan;
}
.child-2 {
    background-color: green;
}
.child-3 {
    background-color: yellow;
}